@import "all";
@import "responsive";
@import "company";

//FONT
$poppins : 'Poppins', sans-serif;

$pink-blue-gradient:linear-gradient(90deg,#cd5bde 0%,#8cb4f3 70%);


* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
body {
	font-size: 16px;
	font-weight: 600;
	overflow-x: hidden;
	min-width: 320px;
	font-family: $poppins;
    background-image: $pink-blue-gradient;

}
p{
	line-height:1.6em;
	font-size: 16px;
	font-weight: 400;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}

a {
	&:hover {
		transition: .5s;
		color: red;
	}
}

